In [1]:
import pandas as pa
import matplotlib.pyplot as plt
import numpy as np

In [3]:
ho= pa.read_csv("home data.csv")
ho.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [4]:
ho.shape

(99, 2)

In [5]:
x=ho[['x']]
y=ho[['y']]

# Gradient descent in machine learning

In [16]:
# step-1
m=0
c=0
Learning_rate =0.001
n= int(len(x))

iterations=1000

# step-2,3

for i in range(iterations):
    y_prediction= (m* x) + c
    dervatives_m=  (-2/n)  * sum(x*(y- y_prediction))
    dervatives_c=  (-2/n)  *  sum(y- y_prediction)
        
#final work

    m=m-(Learning_rate*dervatives_m)
    c = c-(Learning_rate*dervatives_c)
    #print(m,c)
print("This is m : ",m)
print("This is c : ",c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Make Prediction

In [ ]:
x= float(input("Enter any value of x:"))
#y=mx+c

y=